# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

on:
  push
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:
  cmake-build:
    runs-on: windows-latest
    strategy:
      matrix:
        config:
          - {cmake_preset: x64-debug, msvc_arch: x64}
          # - {cmake_preset: x64-release, msvc_arch: x64}
          # - {cmake_preset: x86-debug, msvc_arch: x86}
          # - {cmake_preset: x86-release, msvc_arch: x86}
      fail-fast: false

    env: 
      USERNAME: van-off-the-ovvo
      FEED_URL: https://nuget.pkg.github.com/van-off-the-ovvo/index.json
      VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/van-off-the-ovvo/index.json,readwrite"
      VCPKG_USE_NUGET_CACHE: 1
      X_VCPKG_ASSET_SOURCES: "clear;x-script,${{ github.workspace }}\\asset-provider.bat {url} {sha512} {dst}"



    steps:
    - uses: actions/checkout@v4
      
    - name: Initialize MSVC Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.config.msvc_arch }}

    - name: check nuget
      shell: pwsh
      run: |
        nuget
        $env:path

    # - name: check vcpkg version
    #   shell: pwsh
    #   run: vcpkg version


    # - name: Add NuGet sources
    #   shell: pwsh
    #   run: |
    #     nuget `
    #       sources add `
    #       -Source "${{ env.FEED_URL }}" `
    #       -StorePasswordInClearText `
    #       -Name GitHubPackages `
    #       -UserName "${{ env.USERNAME }}" `
    #       -Password "${{ secrets.VCPKG_CACHE_TEST }}"
    #     nuget `
    #       setapikey "${{ secrets.VCPKG_CACHE_TEST }}" `
    #       -Source "${{ env.FEED_URL }}"

    # - name: cmake preset
    #   run: |
    #     cmake --preset ${{matrix.config.cmake_preset}}
    #     cmake --build out/build/${{matrix.config.cmake_preset}}

    # - name: ctest
    #   run: |
    #     cd out/build/${{matrix.config.cmake_preset}}
    #     ctest 
      

  # linux-cmake-build:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: lukka/get-cmake@latest

  #   - name: Setup vcpkg
  #     uses: lukka/run-vcpkg@v11

  #   - name: cmake preset and build
  #     run: |
  #       cmake --preset linux-debug
  #       cmake --build out/build/linux-debug -v

  #   - name: ctest
  #     run: |
  #       cd out/build/linux-debug
  #       ctest 



  




