# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cmake-build:
    runs-on: windows-latest
    strategy:
      matrix:
        config:
          - {cmake_preset: x64-debug, msvc_arch: x64}
#          - {cmake_preset: x64-release, msvc_arch: x64}
#         - {cmake_preset: x86-debug, msvc_arch: x86}
#         - {cmake_preset: x86-release, msvc_arch: x86}
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
      
    - name: Initialize MSVC Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.config.msvc_arch }}

    - name: cmake preset
      run: |
        cmake --preset ${{matrix.config.cmake_preset}}
        cmake --build out/build/${{matrix.config.cmake_preset}}

    - name: ctest
      run: 
        ctest out/build/${{matrix.config.cmake_preset}}
      

  linux-cmake-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: lukka/get-cmake@latest

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11

    - name: cmake preset
      run: |
        cmake --preset ${{matrix.config.cmake_preset}}
        cmake --build out/build/${{matrix.config.cmake_preset}}

    - name: ctest
      run: 
        ctest out/build/${{matrix.config.cmake_preset}}



  




